# directories
__pycache__/
.archives/
.code/
.cache/
.idea/
.ipynb_checkpoints/
.local/
.tmp*/
.vscode/
.pocl_cache_dir/
build/
datasets/
devimage*/
generated*/
inputs_outputs*/
models/
output/
tmp*/
# extensions
*.bin
*.deb
*.kann
*.log
*.pt
*.pyc
*.pyx
*.swp
